@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    /* fonts */
    --PrimaryFont: "Gurajada", sans-serif; 

    /* colors */
    --PrimaryColor: #70b4d1; 
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121315;
    scroll-behavior: smooth;
}

::selection { 
    color: #70b4d1;
    background: transparent;
  } 

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;

}
::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #121315;
    }
    
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
        display: none;
    
    }
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
        display: none;
    }
}
/* bg vid */
.behind{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.05;
    z-index: -100;
    top: 0;
    left: 0;
    object-fit: cover;
}




/*        SECTION 2       */
.section-2{
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e0eeee;
}
.main{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -3vw;
}
.main-heading{
    font-size: 8.5vw;
    line-height: 5vw;
    margin-bottom: 2vw;
    font-weight: 400;
    font-family: var(--PrimaryFont) !important;
}
.main-para{
    font-size: 1.4vw;
    /* font-family: var(--PrimaryFont) !important; */
    line-height: 1.8vw;
    text-transform: none;
    font-weight: 300;
    width: 50vw;
}
.arrow-down{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: 0.13vw solid var(--PrimaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}
.arrow-down-01{
    width: 1vw;
    height: auto;
}
@media (max-width: 500px) {
    .main-heading{
        font-size: 12vw;
        width: 90vw;
        line-height: 8vw;
    }
    .main{
        height: 85vh;
        transform: translateY(15vw);
    }
    .section-2{
        height: 100vh;
    }
    .main-para{
        font-size: 3.2vw;
        margin-top: 3vw;
        line-height: 4vw;
        width: 79vw;
    }
    .arrow-down{
        height: 5vw;
        width: 5vw;
        margin-top: 5vw;
    }
    .arrow-down-01{
        width: 3.5vw;
    }
}


.btn-vids{
    width: 89vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 10.8vw;
    height: 4vw;
    border: 0.16vw solid #c3e2ef;
    border-radius: 2vw;
    color: #c3e2ef;
    font-size: 1vw;
    font-family: Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    text-decoration: none;
}
.btn:hover{
    background-color: #c3e2ef;
    color: #222222;
}
.video{
    width: 14.5vw;
    height: auto;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-in{
    width: 100%;
    height: auto;
    border-radius: 70px;
    background-size: cover;
    transition: all 0.3s linear;
}
@media (max-width: 500px) {
    .btn-vids{
        width: 85vw;
        justify-content: last baseline;  
    }
    .video{
        position: relative;
        top: 50vw;
    }
    .video-in{
        transition: none; 
        width: 90vw;  
        height: auto;
        border-radius: 4vw;
    }
    .btn{
        width: 35vw;
        height: 13vw;
        border-radius: 50px;
        font-size: 3.5vw;
    }

}




/*     SECTION 03    */
.section-3{
    width: 100vw;
    height: 75vh;
}
@media (max-width: 500px) {
    .section-3{
        display: none;
    }
}



/*     SECTION 04     */

.section-4{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services{  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-outt{
    width: 89vw;
}
.service-h{
    font-size: 10vw;
    display: flex;
    justify-content: left;
    font-size: 9vw;
    line-height: 8vw;
    text-transform: uppercase;
    background: linear-gradient(to left, #222222, #222222); /* The gradient background */
    -webkit-background-clip: text; /* Apply the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(13vw);
    height: fit-content;
    width: fit-content;
    font-family: "Scada", sans-serif;
    letter-spacing: -0.25vw;

}
.paraa-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87vw;
    transform: translateY(20vh);
    transition: all 0.8s ease;
    opacity: 0;
}
.paraa{
    font-size: 2vw;
    color: #e3f1f8;
    font-weight: 300;
}   
@media (max-width: 500px) {
    .section-4{
        margin-top: 75vw;
    }
    .btnn{
        display: none;
    }
    .service-h{
        font-size: 15vw;
        height: 15vw;
        width: 70vw;
        padding-top: 3vw;
    }
    .paraa{
        font-size: 3.5vw;
    }
}








/*       SECTION 05     */
.section-5{
    width: 100vw;
    margin-top: 15vw;
    display: flex;
    justify-content: center;
    color: white;
}
.serv-container{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contt{
    width: 87vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0eeee;
}
.picc{
    width: 48vw;
    height: 31vw;
    border-radius: 1.5vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.visa{
    transform: translateX(30vw) rotate(25deg);
    opacity: 0;
}
.truck{
    transform: translateX(-30vw) rotate(-25deg);
    opacity: 0;
}
.software{
    transform: translateX(30vw) rotate(25deg);
    opacity: 0;
}
.content-cont-3{
    gap: 5%;
    height: 40vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    transition: all 0.3s linear;
    transform: translateY(30vh);
    opacity: 0;
}
.content-cont-1{
    gap: 5%;
    height: 40vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    transform: translateY(30vh);
    opacity: 0;
    gap: 5%;
    transition: all 0.3s linear;
}
.content-cont-2{
    gap: 3%;    
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    transform: translateY(30vh);
    opacity: 0;
    transition: all 0.3s linear;
}
.cont-2,.cont-3{
    margin-top: -5vw;
}
.serv-h{
    font-size: 4.5vw;
    word-spacing: 0.3vw;
    text-transform: uppercase;
    font-family: "Gurajada", sans-serif;
    font-weight: 100;
}
.exp{
    font-size: 1.1vw;
    text-transform: capitalize;
    margin-top: -3.2vw;
}
.btn-1{
    width: 10vw;
    margin-top: 2vw;
}
.btn-s{
    display: none;
}
.btn-parent{
    display: none;
}
@media (max-width: 500px) {
    .section-5{
        overflow: hidden;

    }
    .cont-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .serv-container{
        margin-top: 15vh;
    }
    .picc{
        width: 80vw;
        height: 50vw;
        border-radius: 20px;
    }
    .btn-1{
        display: none;
    }
    .cont-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vw;
    }
    .cont-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 0vw;
    }
    .content-cont, .content-cont-2{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 5vw;
    }
    .serv-h{
        font-size: 6.8vw;
    }
    .exp{
        font-size: 2.8vw;
        margin-top: -1vw;
    }
    .contt{
        height: 75vw;
    }
    .btn-s{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22vw;
        height: 8vw;
        font-size: 2.3vw;
        transform: translateY(10vh);
        opacity: 0;
    }
    .btn-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .visa{
        transform: translateX(100vw);
        opacity: 0;
        transition: all 0.3s linear;
    }
    .truck{
        transform: translateX(-100vw);
        opacity: 0;
        transition: all 0.3s linear;
    }
    .software{
        transform: translateX(100vw);
        opacity: 0;
        transition: all 0.3s linear;
    }
}








/*        SECTION 06       */
.section-6{
    width: 100vw;
    margin-top: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about{
    width: 86vw;
}
.heading-container{
    transition: all 0.3s ease;
}
.h-about{
    font-size: 10vw;
    line-height: 8vw;
    text-transform: uppercase;
    background: linear-gradient(to left, #222222, #222222); /* The gradient background */
    -webkit-background-clip: text; /* Apply the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(15vw);
    height: fit-content;
    width: fit-content;
    font-family: "Scada", sans-serif;
    letter-spacing: -0.25vw;
}
.para-outt{
    width: 86vw;
}
.about-para{
    width: 48vw;
    height: fit-content;
    font-size: 2vw;
    margin-top: 3vw;
    margin-left: 1vw;
    transform: translateY(10vh);
    transition: all 0.8s ease;
    opacity: 0;
    color: #e3f1f8;
    font-weight: 300;
}
.about-para-r{
    width: 84vw;
    height: 25vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    color: #e3f1f8;
}
.about-para-2{
    transform: translateY(5vh);
    transition: all 0.8s ease;
    opacity: 0;
    font-weight: 300;
}
.about-right{
    width: 31vw;
    font-size: 1.4vw;
}
.a-btn{
    margin-top: 3vw;
    width: 10vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5vh);
    transition: all 0.8s ease;
    opacity: 0;
    text-decoration: none;
}
@media (max-width: 500px) {
    .section-6{
        margin-top: 8vh;
    }
    .h-about{
        font-size: 12vw;
        line-height: 11vw;
    }
    .about-para{
        font-size: 4.5vw;
        width: 80vw;
    }
    .about-para-r{
        height: 40vw;
        justify-content: end;
        align-items: start;
    }
    .about-right{
        font-size: 3.5vw;
        width: 75vw;
    }
    .a-btn{
        width: 23vw;
        height: 8vw;
        font-size: 2.5vw;
    }
}


/*  SECTION 07  */
.section-7{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: fit-content;
}
.acheive{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.left-acheive{
    width: 45vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2.2vw;
}
.right-acheive{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.2vw;
    margin-top: 11.5vw;
}
.card{
    width: 44vw;
    height: 23.5vw;
    border-radius: 2vw;
    background-color: #17181b;
    display: flex;
    overflow: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.card-1:hover{
    background-color: #c93202;
}
.card-2:hover{
    background-color: #c8d1d1;
    color: black;
}
.card-3:hover{
    background-color: #a1c9b8;
    color: black;
}
.card-4:hover{
    background-color: #decf3e;
    color: black;
}
.card:hover .numbers{
    animation: moveUpDown 0.5s linear;
}

@keyframes moveUpDown {
     0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    51% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
        }
.card-1,.card-3{
    transform: translateX(-30vw) rotate(-45deg);
    opacity: 0;
    /* transform-origin: bottom left; */
}
.card-2, .card-4{
    transform: translateX(30vw) rotate(45deg) ;
    opacity: 0;
}
.inner-l{
    display: flex;
    width: 17vw;
    margin: 3vw 0vw 3vw 3vw;
    overflow: hidden;
    height: 7.5vw;
}
.inner-r{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 19vw;
    margin: 3vw 3vw 3vw 0vw;
    text-align: right;
}
.numbers{
    display: flex;
    font-size: 7vw;
}
.plus{
    font-size: 4.5vw;
}
.card-info{
    font-size: 3vw;
    text-transform: uppercase;
}
@media (max-width: 500px) {
    .section-7{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 150vh;
    }
    .acheive{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vw;
    }
    .card{
        width: 90vw;
        height: 53vw;
        border-radius: 10px;
    }
    .right-acheive , .left-acheive{
        align-items: center;
        justify-content: center;
        width: 88vw;
        gap: 4vw;
    }
    .right-acheive{
        margin-top: 0vw;
    }
    .inner-l{
        width: 40vw;
        padding-left: 4vw;
        padding-top: 4vw;
        height: 20vw;
    }
    .inner-r{
        width: 40vw;
        padding-bottom: 4vw;
        padding-right: 4vw;
    }
    .numbers{
        font-size: 15vw;
    }
    .plus{
        font-size: 11vw;
    }
    .card-info{
        font-size: 7vw;
    }
    .card-1{
        background-color: #c93202;
    }
    .card-2{
        background-color: #c8d1d1;
        color: black;
    }
    .card-3{
        background-color: #a1c9b8;
        color: black;
    }
    .card-4{
        background-color: #decf3e;
        color: black;
    }
    .card-1,.card-2{
        transform: translateX(-30vw) rotate(-45deg);
        opacity: 0;
        /* transform-origin: bottom left; */
    }
    .card-3, .card-4{
        transform: translateX(30vw) rotate(45deg) ;
        opacity: 0;
    }
}




/*     CURSER     */
.cursor-ball {
    position: fixed;
    width: 20px; /* Size of the small ball */
    height: 20px;
    border-radius: 50%;
    background-color: #c3e2ef; /* Color of the small ball */
    pointer-events: none; /* Ensure the ball doesn't interfere with clicking */
    transition: transform 0.1s ease-out, width 0.5s ease, height 0.5s ease; /* Smooth movement */
    z-index: 9999; /* Ensure it's above other elements */
    transform: translate(-50%, -50%); /* Center the ball on the cursor */
    mix-blend-mode: difference;
    
}
@media (max-width:500px) {
    .cursor-ball{
        display: none;
    }
}





