@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/dirtyline-36daysoftype-2022');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  /* fonts */
  --PrimaryFont: "Gurajada", sans-serif; 

  /* colors */
  --PrimaryColor: #70b4d1; 
}

body {
  background-color: black;
}

.text_scroll {
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  /* gap: 1rem; */
}

.wrapper {
  width: 90%;
  height: 27%;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
  display: flex;
  align-items: center;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.itemLeft,
.itemRight {
  font-weight: 800;
  color: white;
  white-space: nowrap;
  position: absolute;
  width: 100vw;
  text-align: center;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;

}

.itemLeft {
  font-size: 12.5vw;
  animation-name: scrollLeft;
}

.itemRight {
  font-size: 12.5vw;
  animation-name: scrollRight;
}

.item1 {
  animation-delay: 0s;
}

.item2 {
  animation-delay: -15s;
}

.item3 {
  animation-delay: -30s;
}

.item4 {
  animation-delay: -45s;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  width: 100vw;
  overflow: hidden;
}

.inner_portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;
}

.image,
.imaged {
  width: 35vw;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
}

.port_content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 2rem;
  position: absolute;
}

.port_content * {
  margin: .5rem;
}

.content_h1 {
  font-size: 2.7rem;
  font-family: Mango-Font;
  color: var(--PrimaryColor);
  text-align: center;
}

.content_p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  margin-top: -0.3vw;
  width: 450px;
}

.image img,
.imaged img {
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 1rem;
}

/* ------TEXT ANIMATION---------- */
.my_text {
  overflow-x: hidden;
  color: white;
  font-size: 12vw;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  align-items: center;

}


/* SOCAIL--------- */
.socail_inner {
  font-family: 'Montserrat', sans-serif;
  width: 70vw;
  padding: .5rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.socail_item img {
  width: 5vw;
  transition: 1s ease;
}

.socail_item:hover img {
  transform: rotate(360deg);
}

.socail_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.myHover_s {
  transition: 1s;

}

.myHover_s:hover {
  transform: scale(1.2);
}

.socail_inner p {
  color: #D8D9DA;
  padding-block: 1rem;
  font-size: 4vw;
}

.background-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#tiktok-2 {

  width: 5.2vw;
  border-radius: 50%;

}

.meteor {
  position: absolute;
  width: 3px;
  height: 100px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  transform: rotate(-135deg);
  opacity: 0;
}

/* -----CONTACT---------- */
.row1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.col_C {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 6vmax 2vw;
  color: white;
  width: 88%;
  overflow-x: hidden;
}

.row1 p {
  font-size: 15vw;
  font-weight: 400;
  line-height: .8;
}

.col_C a {
  width: 13.5%;
  text-align: center;
  margin-left: auto;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  background: skyblue;
  padding: 1vmax 2vmax;
  border-radius: 2rem;
}

/* info----- */
.info {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

.infoContainer {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
  transition: transform .5s;
}

.info_h {
  font-size: 1.5vw;
  font-weight: 400;
}

.info_t {
  font-size: 2.5vw;
  font-size: 2vw;
  font-weight: 400;
  transition: transform .8s;
}

#my_hr0,
#my_hr {
  width: 80%;
}


/* --Footer--- */

.footer_row {
  width: 80vw;
  padding: 2rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.footer_row img {
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
}

/* ------------------ */
#footer-01 {

  background: black;

}
#footer-01 img{
  transition: transform 1s;
}
#footer-01 img:hover{

  transform: scale(.95);
}


.footer_row1 {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  font-weight: bold;
  color: white;
}

.footer_row1 p {
  opacity: 0.5;
}

#Cname1,
#Cname2,
#Cname3 {

  margin: .5rem;
}

/* -------- */
@media (max-width:460px) {

  .portfolio{
    overflow: hidden;
  }
  .image {
    display: none;
  }

  .imaged {
    width: 80%;
  }
  .port_content a{
    /* display: block; */
    margin: 0 auto;
  }  
  .port_content{
    width: 70vw;
  }
  .content_h1{
    font-size: 1.5rem;
  }
  .content_p{
    width: 100%;
    font-size: .8rem;
  }
  .content_h1, .content_p, .port_content button{
    display: flex;
    
  }
  .infoContainer {
    flex-direction: column;
    gap: 2rem;
    margin-left: 10vw;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    height: 15%;
  }

  .text_scroll {
    height: 70vh;
    gap: 0;
  }

  .row1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col_C {
    padding-right: 10vw;
    align-items: center;
  }

  .col_C a {
    width: 50%;
    text-align: center;
    margin: 2vh auto;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    background: skyblue;
    padding: 1vmax 2vmax;
    border-radius: 2rem;
  }

  .footer_row1 {
    height: 100vh;
  }

}

/* ----------- */
