*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .text-wrapper{
    position: relative; /* Make sure this is set */
    display: flex;
    justify-content: flex-start;
    background: black;
    color: white;
    overflow: hidden;
    margin-top: 3rem;
}
  .text-wrapper h1{
    font-size: 20vw;
    background: linear-gradient(12deg, black 60%, white 40%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rti 60000ms linear infinite;
  }
  .footer_cursor-light {
      position: absolute; /* Position relative to .text-wrapper */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.85) 20%);
    z-index: 1;
  }
  
  @keyframes move-rti {
  
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }


  @media (max-width: 460px) {
    
    .text-wrapper h1{
        opacity: 0.5;
        padding: 0 2rem;
    } 
    .footer_cursor-light {
        display: none;
    
    }
  }


  

/* -----CONTACT---------- */
.row1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.col_C {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 6vmax 2vw;
  color: white;
  width: 88%;
  overflow-x: hidden;
}

.row1 p {
  font-size: 15vw;
  font-weight: 400;
  line-height: .8;
}

.col_C a {
  width: 13.5%;
  text-align: center;
  margin-left: auto;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  background: skyblue;
  padding: 1vmax 2vmax;
  border-radius: 2rem;
}

/* info----- */
.info {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

.infoContainer {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
  transition: transform .5s;
}

.info_h {
  font-size: 1.5vw;
  font-weight: 400;
}

.info_t {
  font-size: 2.5vw;
  font-size: 2vw;
  font-weight: 400;
  transition: transform .8s;
}



#my_hr0,
#my_hr {
  width: 80%;
}


/* --Footer--- */

.footer_row {
  width: 80vw;
  padding: 2rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.footer_row img {
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
}

/* ------------------ */
#footer-01 {

  background: black;

}
#footer-01 img{
  transition: transform 1s;
}
#footer-01 img:hover{

  transform: scale(.95);
}


.footer_row1 {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  font-weight: bold;
  color: white;
}

.footer_row1 p {
  opacity: 0.5;
}

#Cname1,
#Cname2,
#Cname3 {

  margin: .5rem;
}

/* -------- */
@media (max-width:500px) {
  .row1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col_C {
    padding-right: 10vw;
    align-items: center;
  }

  .col_C a {
    width: 50%;
    text-align: center;
    margin: 2vh auto;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    background: skyblue;
    padding: 1vmax 2vmax;
    border-radius: 2rem;
  }

  .footer_row1 {
    height: 100vh;
  }

}
