@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* latin-ext */
@font-face {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6_3Q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  





*{
    margin: 0;
    padding: 0;
}
:root{
    /* fonts */
    --PrimaryFont: 'Inder', "Poppins" , sans-serif; 

    /* colors */
    --PrimaryColor: #70b4d1; 
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121315;
    scroll-behavior: smooth; 
}

::selection { 
    color: #70b4d1;
    background: transparent;
  } 

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;

}
::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #121315;
    }
    
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
        display: none;
    
    }
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
        display: none;
    }
}



/*     CURSER     */
.cursor-ball {
    position: fixed;
    width: 20px; /* Size of the small ball */
    height: 20px;
    border-radius: 50%;
    background-color: #c3e2ef; /* Color of the small ball */
    pointer-events: none; /* Ensure the ball doesn't interfere with clicking */
    transition: transform 0.1s ease-out, width 0.5s ease, height 0.5s ease; /* Smooth movement */
    z-index: 9999; /* Ensure it's above other elements */
    transform: translate(-50%, -50%); /* Center the ball on the cursor */
    mix-blend-mode: difference;
    
}
@media (max-width:500px) {
    .cursor-ball{
        display: none;
    }
}


.service-banner {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.6700105212983631) 0%, rgba(0, 0, 0, 0.6784138826429009) 100%), url(picture/Hallway\ \(2\).jpeg);
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}
.service-banner h1 {
    font-family: var(--PrimaryFont);
    color: white;
    font-weight: 200;
}

.visa-main-heading {
    font-size: 1.5vw;
    padding: 2vw 0;
    text-align: center;
    color: #e0eeee;
    margin-top: 4vw;
}


.visa-main-heading hr {
    width: 30%;
    border: 1px solid #e0eeee;
    color: #e0eeee;
    margin: 2vw auto;
}

.service-visa-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.visa-offer-card {
    width: 90vw;
    height: 30vw;
    padding: 2vw;
    display: flex;
    border-radius: 2vw;
    gap: 4vw;
    background: #E1E9E9;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.visa-img {
    width: 50%;
    height: 100%;
}

.visa-img img {
    border-radius: 1vw;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.visa-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
}

.visa-text h1 {
    font-size: 3vw;
    padding-bottom: 1vw;
}

.visa-text p {
    color: #3F4144;
    font-size: 1.2vw;
    font-weight: 500;
}

.cards-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 0;
    padding-right: 1vw;
}

.cards-btn hr {
    border: 1.2px solid black;
    display: none;
}

.cards-btn a {
    text-decoration: none;
    color: white;
    background: #222428;
    padding: 1vw 2vw;
    border: 2px solid #3F4144;
    border-radius: 2vw;
}

.motivation-text {
    margin: 4vw 0;
    padding: 6vw 0;
    text-align: center;
    color: #c3e2ef;
}

.motivation-text h1 {
    font-size: 6vw;
    padding: 1vw 0;
}

.motivation-text p {
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 2.5vw;
    color: #e0eeee;
}

.motivation-text a {
    padding: 0.9vw 1.2vw;
    border: 3px solid #70b4d1;
    border-radius: 45px;
    width: 10vw;
    height: 4vw;
    font-family: "Poppins" , sans-serif;
    color: #70b4d1;
    font-size: 1.2vw;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease;
}

@media (max-width: 460px){

    
    .service-banner{
        height: 40vh;
    }
    .visa-main-heading{
        font-size: 2.5vw;
    }
    .visa-offer-card{
        height: 32vw;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    }
    .visa-main-heading hr{
    margin: 4vw auto;

    }
    .visa-text h1 {
        font-size: 4vw;
    }

    .visa-text p {
        font-size: 1.8vw;
    }
    .remove-para, .cards-btn-1{
        display: none;
    }

    .cards-btn a{
        margin-block: 0;
        margin-left: auto;
    font-size: 2vw;
    }

    .motivation-text h1 {
        font-size: 14vw;
    }
    
    .motivation-text p {
        font-size: 3vw;
        margin-bottom: 4vw;
    }
   .sec_5{
    display: none;
   }
}


#motiv-btn:hover {
    color: #121315;
    background-color: #70b4d1;
}



.sec_5 {
    padding: 2rem 0rem 8rem 0rem;
}

.wrapper {
    margin-top: 2rem;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(225, 233, 233, 0),
            rgba(225, 233, 233, 1) 20%,
            rgba(225, 233, 233, 1) 80%,
            rgba(225, 233, 233, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

@keyframes scrollRight {
    to {
        right: -200px;
    }
}

.itemLeft,
.itemRight {
    width: 200px;
    height: 100px;
    background-color: #e11d48;
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.itemLeft {
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
}

.itemRight {
    right: max(calc(200px * 8), calc(100% + 200px));
    animation-name: scrollRight;
}

.item {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


/* ==============================Section --- 3 =================== */
/*   SECTION - 3   */
.section-3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

.sec-3 {
    width: 85vw;
}

.part-1 {
    color: #e0eeee;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.selecting-h {
    font-weight: 500;
    font-size: 3.2vw;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif, Arial;
    display: flex;
    width: 37vw;
    justify-content: space-between;
    letter-spacing: -0.25vw;
}

.hr {
    height: 0.2vw;
    background-color: #e0eeee;
    margin-top: -5px;
}

.time {
    display: flex;
    align-items: flex-end;
}

#datetime {
    font-size: 2vw;
    color: #798081;
    font-family: "Poppins", sans-serif, Arial;
}

#head-1 {
    cursor: pointer;
    color: #798081;
    transition: all 0.3s ease;
}

#head-2 {
    color: #798081;
    cursor: pointer;
    transition: all 0.3s ease;
}

#hr-2 {
    opacity: 0;
    transition: all 0.3s ease;
}

#hr-1 {
    transition: all 0.3s ease;
}

@media (max-width: 500px) {
    .part-1 {
        flex-direction: column;
    }

    .selecting-h {
        font-size: 6vw;
        width: 75vw;
    }

    .hr {
        margin-top: -2px;
    }

    .time {
        margin-top: 12px;
    }

    #datetime {
        font-size: 3.8vw;
    }
}





.form {
    margin-top: 8vw;
    font-family: "Poppins", sans-serif, Arial;
}

.row {
    width: 83.5vw;
    display: flex;
    justify-content: space-between;
}

.heading-forms {
    font-size: 1.1vw;
    color: #798081;
    font-family: "Poppins", sans-serif, Arial;
}

.name,
.email {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

.boxes {
    height: 4.5vw;
    padding-left: 1.5vw;
    border-radius: 10px;
    background-color: #17181B;
    border: 0;
    width: 40vw;
    color: #e0eeee;
    font-size: 1.3vw;
}

.email {
    align-items: start;
}

input::placeholder {
    color: #5B7273;
    opacity: 1;
}

textarea::placeholder {
    color: #5B7273;
    opacity: 1;
}

input:focus {
    outline: none;
}

.phone,
.company {
    margin-top: 1.5vw;
}

.dropdown {
    width: 41.57vw;
    color: #c3e2ef;
}

select:focus {
    color: #e0eeee;
    outline: none;
}

.dropdown3 {
    width: 85.15vw;
    color: #c3e2ef;
}

#hiding {
    display: none;
}

.row-5 {
    width: 83.5vw;
    flex-direction: column;
    gap: 0.7vw;
    margin-top: 2vw;
}

.box-feed {
    width: 82.2vw;
    height: 15vw;
    padding: 1.5vw;
    font-family: "Poppins", sans-serif, Arial;
    outline: none;
    resize: vertical;
}

.button-row {
    width: 83vw;
    height: 10vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-submit {
    text-decoration: none;
    color: #3F4144;
    border: 0.15vw solid #3F4144;
    border-radius: 50px;
    padding: 1vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    transform: scale(.95);
    color: #3F4144;
}

@media (max-width: 500px) {
    .row {
        width: 83vw;
        flex-direction: column;
        gap: 20px;
    }

    .boxes {
        width: 80vw;
        height: 12vw;
        border-radius: 6px;
        font-size: 3vw;
        padding-left: 5vw;
    }

    .heading-forms {
        font-size: 3vw;
    }

    .phone {
        margin-top: 16px;
    }

    .company {
        margin-top: 8px;
    }

    .dropdown {
        width: 85vw;
    }

    .heading-hear {
        width: 50vw;
    }

    .dropdown3 {
        width: 85vw;
    }

    .row-5 {
        margin-top: 20px;
        gap: 0.7vw;
    }

    .box-feed {
        padding: 10px;
        height: 30vw;
    }

    .btn-submit {
        width: 30vw;
        height: 13vw;
        font-size: 3.5vw;
        border: 0.42vw solid #3F4144;
    }

    .button-row {
        height: 25vw;
    }
}


footer_row {
    width: 80vw;
    padding: 2rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.footer_row img {
    width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    /* border: 1px solid white; */
}

/* ------------------ */
.footer_row {
    width: 80vw;
    padding: 2rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.footer_row img {
    width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    /* border: 1px solid white; */
}


#footer-01 {

    background: black;

}

#footer-01 img {
    transition: transform 1s;
}

#footer-01 img:hover {

    transform: scale(.95);
}


.footer_row1 {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    font-weight: bold;
    color: white;
}

.footer_row1 p {
    opacity: 0.5;
}

#Cname1,
#Cname2,
#Cname3 {

    margin: .5rem;
}

.text-wrapper {
    position: relative;
    /* Make sure this is set */
    display: flex;
    justify-content: flex-start;
    background: black;
    color: white;
    overflow: hidden;
    margin-top: 3rem;
}

.text-wrapper h1 {
    font-size: 20vw;
    background: linear-gradient(12deg, black 60%, white 40%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rti 60000ms linear infinite;
}

.footer_cursor-light {
    position: absolute;
    /* Position relative to .text-wrapper */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.85) 20%);
    z-index: 1;
}

@keyframes move-rti {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* -------- */
@media (max-width:460px) {



    .text-wrapper h1 {
        opacity: 0.5;
        padding: 0 2rem;
    }

    .footer_cursor-light {
        display: none;

    }


    .infoContainer {
        flex-direction: column;
        gap: 2rem;
        margin-left: 10vw;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        height: 15%;
    }

    .text_scroll {
        height: 70vh;
        gap: 0;
    }

    .row1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col_C {
        padding-right: 10vw;
        align-items: center;
    }

    .col_C a {
        width: 50%;
        text-align: center;
        margin: 2vh auto;
        text-decoration: none;
        font-size: 1.5vw;
        color: white;
        background: skyblue;
        padding: 1vmax 2vmax;
        border-radius: 2rem;
    }

    .footer_row1 {
        height: 100vh;
    }
}