@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* latin-ext */
@font-face {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6_3Q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  





*{
    margin: 0;
    padding: 0;
}
:root{
    /* fonts */
    --PrimaryFont: 'Inder', "Poppins" , sans-serif; 

    /* colors */
    --PrimaryColor: #70b4d1; 
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121315;
    scroll-behavior: smooth;
}

::selection { 
    color: #70b4d1;
    background: transparent;
  } 

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;

}
::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #121315;
    }
    
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
        display: none;
    
    }
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
        display: none;
    }
}



/*     CURSER     */
.cursor-ball {
    position: fixed;
    width: 20px; /* Size of the small ball */
    height: 20px;
    border-radius: 50%;
    background-color: #c3e2ef; /* Color of the small ball */
    pointer-events: none; /* Ensure the ball doesn't interfere with clicking */
    transition: transform 0.1s ease-out, width 0.5s ease, height 0.5s ease; /* Smooth movement */
    z-index: 9999; /* Ensure it's above other elements */
    transform: translate(-50%, -50%); /* Center the ball on the cursor */
    mix-blend-mode: difference;
    
}
@media (max-width:500px) {
    .cursor-ball{
        display: none;
    }
}

.hero{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(0, 0, 0, .8), rgb(0,0,0, 0.2) ), url(./Picture/Residency.jpg);
    background-size: cover;
    background-position: center;
}
.hero h1{
    font-size: 6vw;
    color: #E0EEEE;
    font-weight: 400;
    font-family: var(--PrimaryFont);
}
.my-contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #E0EEEE;
}
.contact-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-info p{
    font-size: 1.3vw;
    padding: 2vw 2vw;
}
.contact-info p span{
    font-weight: bold;
    font-size: 1.5vw;
}
.my-logo{
    width: 6%;
}
.my-logo img{
    width: 100%;
}
.details-sec1{
    display: flex;
    gap: 2vw;
    padding: 6vw;
}

.details-left{
    width: 50%;
}
.details-left img{
    width: 100%;
}
.details-right{
    width: 50%;
}
.details-right h1{
    font-size: 4vw;
    color: #e0eeee;
    font-family: var(--PrimaryFont);
}
.details-right p{
    width: 90%;
    color: #E0EEEE;
}
.det-h{
    text-align: center;
    color: #c3e2ef;
}
.det-h h1{
    font-family: var(--PrimaryFont);
}
.det-btn{
    display: flex;
    justify-content: center;
}
.det-hr{
    width: 30%;
    border: 1px solid #c3e2ef;
    margin-inline: auto;
    margin-top: 2vw;
    color: #c3e2ef;
}
.det-btn button{
    margin-block: 4vw;
    border: 3px solid #70b4d1;
    border-radius: 45px;
    width: 20vw;
    height: 5vw;
    font-family: "Poppins" , sans-serif;
    color: #70b4d1;
    font-size: 1.2vw;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: #121315;
}
.det-btn button:hover{
    color: #121315;
    background-color: #70b4d1;
}



.more-info{
    display: none;
    padding: 0 6vw;
}


@media (max-width: 460px) {
    
.hero h1{
    font-size: 8vw;
}
    .contact-info{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
    }
    .my-contact{
        height: 30vw;
    }

    .contact-info p{
        font-size: 3vw;
        padding: 2vw 2vw;
    }
    .contact-info p span{
        font-weight: bold;
        font-size: 3.5vw;
    }
    .my-logo{
        width: 42%;
    }

.details-right p span{
    display: none;
}
.det-h{
    font-size: 3vw;
}
.det-btn button{
    font-size: 3vw;
}

}